<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu1ffy.springboot.dao.BbsBuyerMapper">
  <resultMap id="BaseResultMap" type="com.lu1ffy.springboot.model.BbsBuyer">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from bbs_buyer
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lu1ffy.springboot.model.BbsBuyer">
    insert into bbs_buyer (username, password, gender, 
      email, real_name, register_time, 
      province, city, town, 
      addr, is_del)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{registerTime,jdbcType=TIMESTAMP}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{isDel,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lu1ffy.springboot.model.BbsBuyer">
    update bbs_buyer
    set password = #{password,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=TIMESTAMP},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=BIT}
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select username, password, gender, email, real_name, register_time, province, city, 
    town, addr, is_del
    from bbs_buyer
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select username, password, gender, email, real_name, register_time, province, city, 
    town, addr, is_del
    from bbs_buyer
  </select>
</mapper>